$primary: #ff0028;
$font-family-primary: "Open Sans";
$title-family: "Merriweather";
$size-5: 1.1rem;

@import "~bulma/bulma";

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
}

.content{
  display: flex;
  flex-direction: column;
  min-width: 950px;
  max-width: 950px;
}

.active {
  box-shadow: 0 0 2px;
}

.input{
  margin-bottom: 0.5em;
}

// Header content --> date and reservebutton
.headerdatebutton{
  display: inherit;
}

.sortbydate{
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.addreservation{
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.headerdate{
  width: 45%;
  margin: 0;
}

// Icons content
.fa-edit{
  font-size: 20px;
  cursor: pointer;
}

.fa-trash{
  font-size: 30px;
}

// Reservationstable
.reservationstable{
  display: flex;
  margin-top: 0.5em;
}

.editbutton{
  border: 0px;
  height: 25px;
}

.entermileagebutton{
  height: 25px;
}

// General stuff for the forms
.formmakereservation{
  margin-top: 1em;
  min-width: 669px;
}

.makereservationform{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.tilereservationform{
  justify-content: flex-start;
}

.dates, .time{
  display: flex;
}

.box{
  box-shadow: 0 0 0 0;
  border: 1px solid #dbdbdb;
}

// Reservation form
.startdate, .starttime{
  width: 35%;
  margin-right: 1em;
}

.enddate, .endtime{
  width: 35%;
}

.reservatebutton{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5em;
}

.makereservationwithdelete{
  display: flex;
}

// Delete button in reservation form
.divdeletebutton{
  display: flex;
  justify-content: flex-end;
  width: 49.5%;
}

.deletebutton{
  padding: 0;
  border: 0;
}

// Enter km and zipcodes form
.kmstart{
  margin-right: 1em;
}

.zipcodedeparture{
  margin-right: 1em;
}

// Warning modal
.warningbuttons{
  flex: display;
  justify-content: space-between;
}
